.items-header {
    background-color: none;
    margin-top: 70px;
    margin-bottom: 30px;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}


/* Responsive */
@media only screen and (max-width: 576px) {
    .items-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}