.per-item-container {
    border-radius: 15px;
}

.per-item-image {
    border-radius: 15px 15px 0 0;
}


/* Responsive */


@media only screen and (min-width: 577px) and (max-width: 992px) {
    .card-container {
        height: 630px !important;
    }
}